doctype html
html
	head
		title= 'Title, bitches'
		//- If this stops working make sure there's a trailing space after inject:*** lines
		// inject:css 
		// endinject 
	stuff= '{{user.color}}'
	body
		p='This is the body'
		// inject:js 
		// endinject 